/* Styling for the Enitre Webpage */
* {
    background-color: antiquewhite;
    color: blue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Styling for the Header Section */
header h1 {
    display: inline-block;
    padding-top: 10px;
    font-size: 200%;
    margin-left: 20px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Styling for the About Me Section */
#about-me {
    align-items: center;
    margin-top: 75px;   
}

#about-me h2 {
    text-align: center;
    font-size: 150%;
    font-style: italic;
    margin-bottom: 20px;
}

#about-me img {
    size: 400px;
    width: 20%;
    float: right;
    margin-right: 50px;
}

#about-me p {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
    width: 70%;
}


/* Styling for the My Work Section */
#my-work {
    margin-top: 30%;
}

#my-work h2 {
    text-align: center;
    font-size: 150%;
    font-style: italic;
    margin: auto;
}

#my-work ul li h3 {
    text-align: center;
    font-size: 120%;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
}

#my-work ul li a img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 50px;
}

#my-work ul li#my-first-deployed-application a img {
    width: 80%;
    height: 100%;
    justify-content: center;
    margin: auto;
}

#my-work ul li#my-other-applications a img {
    width: 60%;
    height: 100%;
    justify-content: center;
    margin: auto;
}

/* Styling for the Contact Information Section */
#contact-info {
    margin-top: 50px;
}

#contact-info h2 {
    text-align: center;
    font-size: 150%;
    font-style: italic;
    margin-bottom: 20px;
}

#contact-info ul li {
    text-align: center;
    flex-wrap: wrap;
    font-size: 150%;
}